@import url('https://fonts.googleapis.com/css2?family=Rubik+Moonrocks&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Rubik Moonrocks', cursive;
    color: yellow;
}

.flexbox {
    width: 100%;
    height: 100vh;
    display: flex;
}


.box1 {
    width: 50%;
    background-image: url(https://p4.wallpaperbetter.com/wallpaper/92/6/433/tiger-background-walk-log-tiger-hd-wallpaper-preview.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
}

.box2 {
    width: 50%;
    background-color: orangered;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;   
}

form label {
    margin-top: 25px;
    font-size: 25px;
}

form input {
    background-color: black;
    border-radius: 12px;
    padding: 5px 5px;
    color: orangered;
    font-family: 'Rubik Moonrocks', cursive;
    border: 2px orange solid;
    width: 320px;
}


img {
    width: 25%;
    height: 20vh;
}

button {
    background-color: black;
    width: 5em;
    height: 2em;
    border-radius: 12px;
    color: orangered;
    font-family: 'Rubik Moonrocks', cursive;
    font-size: 25px;
}

#check {
    width: 18px;
	height: 20px;
}